
.onboarding-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  background-color: #f9fcfc;
  height: 100vh;
  width: 100%;
}

.onboarding-logo {
  width: 160px;
  height: auto;
  margin-bottom: 40px;
}

.onboarding-features {
  display: flex;
  justify-content: space-around;
  width: 90%;
  max-width: 700px;
}

.feature-box {
  background-color: #eaf4f4;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  width: 120px;
}

.feature-box p {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}
